
.container_btn{
    display: flex;
    justify-content: space-around;
    width: 180px;
    padding-bottom: 10px;
}


.button{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.screen{
    border: 1px solid black;
    height: 40px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 2px;
}

.container_cal{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
    width: 185px;
;
}

.hist_main{
    display: block;
}